.gButton {
    background-color:maroon;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 10px;
    border:none;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    cursor: pointer;
}

.valGrid {
    display: grid;
    grid-template: auto auto auto;
    width:100%;
    align-items:center;
}

.cardimg {
    width:100%;
    height:50%;
    overflow: hidden;
}

.valGrid div {
    border-radius: 5px;
    width: 30%;
    background-color: white;
    height: 300px;
    cursor: pointer;
    display:flex;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.valGrid div:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
}

/*

.card {
    border-radius: 5px;
    width: 30%;
    background-color: white;
    height: 300px;
    cursor: pointer;
    display:flex;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
}

*/

.badge {
    display: inline-block;
    border-radius: 20px;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
}


.tButton {
    border:none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 15px;
    font-weight:bold;
    cursor: pointer;
    padding: 5px 10px;
    position: relative;
}

/* .tButton:hover {
    text-decoration: underline;
    text-decoration-color: maroon;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
} */

.tButton::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 3px;
    background-color: maroon;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.tButton:hover::after {
    transform: scaleX(1);
}

.navbar.scrolled {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    width: 100%;
    background-color: white;
    z-index: 2;
    margin-top: -.5%;
    margin-left: -.5%;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
    margin-top: -.5%;
    margin-left: -.5%;
    transition: background-color 1s ease, box-shadow 1s ease;
}

